.container{
  /* max-width sirve para poner limites a las cosas */
  max-width:900px;
  margin:auto;
}
.row{
  display: flex;
  /* position:relative; */
  /* display:inline-grid; */
  /* text-align:center; */
}
.row img{
  max-height:270px;
  /* text-align:center; */
}
.col-1{
  width:8.333333333333333%;
}
.col-2{
  width:16.66666666666667%;
}
.col-3{
  width:25%;
}
.col-4{
  width:33.33333333333333‬%;
}
.col-5{
  width:41.66666666666667‬%;
}
.col-6{
  width:50%;
}
.col-7{
  width:58.33333333333333%;
}
.col-8{
  width:66.66666666666667%;
}
.col-9{
  width:75%;
}
.col-10{
  width:83.33333333333333%;
}
.col-11{
  width:91.66666666666667%;
}
.col-12{
  width:100%;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding:10px;
}
/* .col-1 img,.col-2 img,.col-3 img,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  width:100%;
} */
.no-desk{
  display: none;
}
@media(max-width:600px){
.container{
   padding: 30px;
 }
.no-mobile{
  display: none
}
  .no-desk{
    display: initial;
  }
  .row{
    display:inline;
    padding: 10px;
    /* flex-wrap: wrap-reverse; */
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    width:100%;
    padding: 0px;
  }
}
/* row es padre y columna es el hijo y todo va dentro del container
 container>row>column */
